In [2]:
import findspark
findspark.init('/home/ubuntu/spark-2.1.1-bin-hadoop2.7')
import pyspark
from pyspark import SparkContext
from pyspark.sql import SparkSession,Row
from pyspark.sql.window import Window
from pyspark.sql.functions import when, count, col, desc, asc, row_number, mean
from pyspark.sql.types import (StructField,FloatType,IntegerType,StructType)
from pyspark.ml.clustering import KMeans, KMeansModel
#from pyspark.mllib.clustering import KMeans, KMeansModel
from pyspark.ml.linalg import Vectors
from pyspark.ml.feature import VectorAssembler, StandardScaler
spark = SparkSession.builder.appName('iteration_4').getOrCreate()
import numpy as np
from numpy import array
from math import sqrt

In [3]:
df = spark.read.load("./datasets/covid19_impact.csv", format="csv", header="true")

In [4]:
df.show()

+----+-----------+----------+-----+---+---+---+----------+-----------+
|CODE|    COUNTRY|      DATE|  HDI| TC| TD|STI|       POP|     GDPCAP|
+----+-----------+----------+-----+---+---+---+----------+-----------+
| AFG|Afghanistan|31/12/2019|0.498|  0|  0|  0|17.4772331|7.497754494|
| AFG|Afghanistan|01/01/2020|0.498|  0|  0|  0|17.4772331|7.497754494|
| AFG|Afghanistan|02/01/2020|0.498|  0|  0|  0|17.4772331|7.497754494|
| AFG|Afghanistan|03/01/2020|0.498|  0|  0|  0|17.4772331|7.497754494|
| AFG|Afghanistan|04/01/2020|0.498|  0|  0|  0|17.4772331|7.497754494|
| AFG|Afghanistan|05/01/2020|0.498|  0|  0|  0|17.4772331|7.497754494|
| AFG|Afghanistan|06/01/2020|0.498|  0|  0|  0|17.4772331|7.497754494|
| AFG|Afghanistan|07/01/2020|0.498|  0|  0|  0|17.4772331|7.497754494|
| AFG|Afghanistan|08/01/2020|0.498|  0|  0|  0|17.4772331|7.497754494|
| AFG|Afghanistan|09/01/2020|0.498|  0|  0|  0|17.4772331|7.497754494|
| AFG|Afghanistan|10/01/2020|0.498|  0|  0|  0|17.4772331|7.497754494|
| AFG|Afghanistan|11/01/2020|0.498|  0|  0|  0|17.4772331|7.497754494|
| AFG|Afghanistan|12/01/2020|0.498|  0|  0|  0|17.4772331|7.497754494|
| AFG|Afghanistan|13/01/2020|0.498|  0|  0|  0|17.4772331|7.497754494|
| AFG|Afghanistan|14/01/2020|0.498|  0|  0|  0|17.4772331|7.497754494|
| AFG|Afghanistan|15/01/2020|0.498|  0|  0|  0|17.4772331|7.497754494|
| AFG|Afghanistan|16/01/2020|0.498|  0|  0|  0|17.4772331|7.497754494|
| AFG|Afghanistan|17/01/2020|0.498|  0|  0|  0|17.4772331|7.497754494|
| AFG|Afghanistan|18/01/2020|0.498|  0|  0|  0|17.4772331|7.497754494|
| AFG|Afghanistan|19/01/2020|0.498|  0|  0|  0|17.4772331|7.497754494|
+----+-----------+----------+-----+---+---+---+----------+-----------+
only showing top 20 rows

In [5]:
df.count()

50418

In [6]:
df.select("COUNTRY").distinct().count()

210

In [7]:
df.printSchema()

root
 |-- CODE: string (nullable = true)
 |-- COUNTRY: string (nullable = true)
 |-- DATE: string (nullable = true)
 |-- HDI: string (nullable = true)
 |-- TC: string (nullable = true)
 |-- TD: string (nullable = true)
 |-- STI: string (nullable = true)
 |-- POP: string (nullable = true)
 |-- GDPCAP: string (nullable = true)

In [8]:
dm = spark.read.load("./datasets/UNdata_Poverty.csv", format="csv", header="true")

In [9]:
dm.show()

+---------------+----+-----+---------------+
|Country or Area|Year|Value|Value Footnotes|
+---------------+----+-----+---------------+
|        Albania|2017|  8.2|              1|
|        Albania|2016|  9.4|              1|
|        Albania|2015|  8.2|              1|
|        Albania|2014| 11.6|              1|
|        Albania|2012|  6.2|              2|
|        Albania|2008|  5.3|              2|
|        Albania|2005|  8.7|              2|
|        Albania|2002| 14.1|              2|
|        Albania|1996| 11.2|              3|
|        Algeria|2011|  3.7|              4|
|        Algeria|1995| 23.5|              5|
|        Algeria|1988| 24.5|              6|
|         Angola|2018| 73.2|              7|
|         Angola|2008| 60.6|              8|
|         Angola|2000| 59.7|              1|
|      Argentina|2018|  3.9|              9|
|      Argentina|2017|  3.1|              9|
|      Argentina|2016|  3.4|              9|
|      Argentina|2014|  3.5|              9|
|      Argentina|2013|  3.2|              9|
+---------------+----+-----+---------------+
only showing top 20 rows

In [10]:
dm.count()

2146

In [11]:
dm.select("Country or Area").distinct().count()

179

In [12]:
dm.printSchema()

root
 |-- Country or Area: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Value: string (nullable = true)
 |-- Value Footnotes: string (nullable = true)

In [13]:
df.select([count(when(col(c).isNull(), c)).alias(c) for c in df.columns]).show()

+----+-------+----+----+---+---+---+---+------+
|CODE|COUNTRY|DATE| HDI| TC| TD|STI|POP|GDPCAP|
+----+-------+----+----+---+---+---+---+------+
|   0|      0|   0|6202|  0|  0|  0|  0|     0|
+----+-------+----+----+---+---+---+---+------+

In [14]:
dm.select([count(when(col(c).isNull(), c)).alias(c) for c in dm.columns]).show()

+---------------+----+-----+---------------+
|Country or Area|Year|Value|Value Footnotes|
+---------------+----+-----+---------------+
|              0|   0|   47|            209|
+---------------+----+-----+---------------+

In [15]:
df.columns

['CODE', 'COUNTRY', 'DATE', 'HDI', 'TC', 'TD', 'STI', 'POP', 'GDPCAP']

In [16]:
# Selecting items
w = Window.partitionBy("Country or Area").orderBy(col("Year").desc())
dm2 = dm.withColumn("row",row_number().over(w)) \
      .filter(col("row") == 1).drop("row") \
      .orderBy(col("Country or Area").asc())
dm2.show()

+--------------------+----+-----+---------------+
|     Country or Area|Year|Value|Value Footnotes|
+--------------------+----+-----+---------------+
|             Albania|2017|  8.2|              1|
|             Algeria|2011|  3.7|              4|
|              Angola|2018| 73.2|              7|
|           Argentina|2018|  3.9|              9|
|             Armenia|2018|  9.4|             12|
|           Australia|2014|  0.7|             13|
|             Austria|2017|  0.4|             17|
|          Azerbaijan|2005|    0|              1|
|          Bangladesh|2016| 52.5|             21|
|             Belarus|2018|    0|             24|
|             Belgium|2017|  0.2|             17|
|              Belize|1999| 27.7|             27|
|               Benin|2015| 76.3|             29|
|              Bhutan|2017| 12.2|             31|
|             Bolivia|2018| 10.5|             32|
|Bosnia and Herzeg...|2011|  0.7|              1|
|            Botswana|2015| 36.5|             37|
|              Brazil|2018|  9.1|             40|
|            Bulgaria|2017|  3.3|             17|
|        Burkina Faso|2014| 76.7|             42|
+--------------------+----+-----+---------------+
only showing top 20 rows

In [17]:
# Selecting items
w2 = Window.partitionBy("COUNTRY").orderBy(col("TC").desc())
df2 = df.withColumn("row",row_number().over(w2)) \
      .filter(col("row") == 1).drop("row") \
      .orderBy(col("COUNTRY").asc())
df2.show()

+----+-------------------+----------+-----+-----------+-----------+-----------+-----------+-----------+
|CODE|            COUNTRY|      DATE|  HDI|         TC|         TD|        STI|        POP|     GDPCAP|
+----+-------------------+----------+-----+-----------+-----------+-----------+-----------+-----------+
| AFG|        Afghanistan|10/06/2020|0.498|9.973899417|5.950642553|4.365643155| 17.4772331|7.497754494|
| ALB|            Albania|19/10/2020|0.785|9.744198695| 6.11146734|          0|14.87253667|9.376145531|
| DZA|            Algeria|18/07/2020|0.754|9.996431298|6.963189986|4.305010592|17.59630906|9.540639235|
| AND|            Andorra|17/10/2020|0.858| 8.12474302|4.077537444|          0|11.25499635|          0|
| AGO|             Angola|19/10/2020|0.581|8.917578754|5.484796933|          0| 17.3079574|8.668968767|
| AIA|           Anguilla|03/04/2020| null|1.098612289|          0|4.305010592|9.615938805|          0|
| ATG|Antigua and Barbuda|18/10/2020| 0.78|4.779123493|1.098612289|          0|11.49198779| 9.97538687|
| ARG|          Argentina|07/06/2020|0.825|9.999115864|6.473890696| 4.48739965|17.62651421|9.848709615|
| ARM|            Armenia|24/06/2020|0.755|9.985850643|5.955837369|          0| 14.9017918| 9.08109464|
| ABW|              Aruba|19/10/2020| null|8.371473537|3.526360525|          0| 11.5783948|10.49054565|
| AUS|          Australia|12/08/2020|0.939|9.985666438|5.802118375|4.371597439|17.05418434|10.70658069|
| AUT|            Austria|10/08/2020|0.908|9.999297607|6.580639137|3.449352424|16.01344599|10.72407512|
| AZE|         Azerbaijan|09/07/2020|0.757|9.994972243|5.613128106|4.567468319|16.13191719|9.670761927|
| BHS|            Bahamas|19/10/2020|0.807|8.648747631|4.804021045|          0|12.88219574|10.22983178|
| BHR|            Bahrain|22/06/2020|0.846|9.988012508|4.143134726|4.317488114|14.34706955|10.67569323|
| BGD|         Bangladesh|17/05/2020|0.608|9.952039593|5.749392986|4.538175317|18.91957173|8.167347447|
| BRB|           Barbados|19/10/2020|  0.8|5.402677382|1.945910149|  3.2554006|12.56852934|9.739677672|
| BLR|            Belarus|09/05/2020|0.808|9.957075712|4.795790546|2.631169157|16.06145345|9.750800543|
| BEL|            Belgium|03/04/2020|0.916|9.983453334|7.631916513|4.400357591|16.26562008|10.66098361|
| BLZ|             Belize|19/10/2020|0.708|7.942006808|3.784189634|          0|12.89325457|8.964997479|
+----+-------------------+----------+-----+-----------+-----------+-----------+-----------+-----------+
only showing top 20 rows

In [18]:
# drop columns
df3 = df2.drop("CODE", "STI")
dm3 = dm2.drop("Value Footnotes")
df3.printSchema()
dm3.printSchema()
df3.show()
dm3.show()

root
 |-- COUNTRY: string (nullable = true)
 |-- DATE: string (nullable = true)
 |-- HDI: string (nullable = true)
 |-- TC: string (nullable = true)
 |-- TD: string (nullable = true)
 |-- POP: string (nullable = true)
 |-- GDPCAP: string (nullable = true)

root
 |-- Country or Area: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Value: string (nullable = true)

+-------------------+----------+-----+-----------+-----------+-----------+-----------+
|            COUNTRY|      DATE|  HDI|         TC|         TD|        POP|     GDPCAP|
+-------------------+----------+-----+-----------+-----------+-----------+-----------+
|        Afghanistan|10/06/2020|0.498|9.973899417|5.950642553| 17.4772331|7.497754494|
|            Albania|19/10/2020|0.785|9.744198695| 6.11146734|14.87253667|9.376145531|
|            Algeria|18/07/2020|0.754|9.996431298|6.963189986|17.59630906|9.540639235|
|            Andorra|17/10/2020|0.858| 8.12474302|4.077537444|11.25499635|          0|
|             Angola|19/10/2020|0.581|8.917578754|5.484796933| 17.3079574|8.668968767|
|           Anguilla|03/04/2020| null|1.098612289|          0|9.615938805|          0|
|Antigua and Barbuda|18/10/2020| 0.78|4.779123493|1.098612289|11.49198779| 9.97538687|
|          Argentina|07/06/2020|0.825|9.999115864|6.473890696|17.62651421|9.848709615|
|            Armenia|24/06/2020|0.755|9.985850643|5.955837369| 14.9017918| 9.08109464|
|              Aruba|19/10/2020| null|8.371473537|3.526360525| 11.5783948|10.49054565|
|          Australia|12/08/2020|0.939|9.985666438|5.802118375|17.05418434|10.70658069|
|            Austria|10/08/2020|0.908|9.999297607|6.580639137|16.01344599|10.72407512|
|         Azerbaijan|09/07/2020|0.757|9.994972243|5.613128106|16.13191719|9.670761927|
|            Bahamas|19/10/2020|0.807|8.648747631|4.804021045|12.88219574|10.22983178|
|            Bahrain|22/06/2020|0.846|9.988012508|4.143134726|14.34706955|10.67569323|
|         Bangladesh|17/05/2020|0.608|9.952039593|5.749392986|18.91957173|8.167347447|
|           Barbados|19/10/2020|  0.8|5.402677382|1.945910149|12.56852934|9.739677672|
|            Belarus|09/05/2020|0.808|9.957075712|4.795790546|16.06145345|9.750800543|
|            Belgium|03/04/2020|0.916|9.983453334|7.631916513|16.26562008|10.66098361|
|             Belize|19/10/2020|0.708|7.942006808|3.784189634|12.89325457|8.964997479|
+-------------------+----------+-----+-----------+-----------+-----------+-----------+
only showing top 20 rows

+--------------------+----+-----+
|     Country or Area|Year|Value|
+--------------------+----+-----+
|             Albania|2017|  8.2|
|             Algeria|2011|  3.7|
|              Angola|2018| 73.2|
|           Argentina|2018|  3.9|
|             Armenia|2018|  9.4|
|           Australia|2014|  0.7|
|             Austria|2017|  0.4|
|          Azerbaijan|2005|    0|
|          Bangladesh|2016| 52.5|
|             Belarus|2018|    0|
|             Belgium|2017|  0.2|
|              Belize|1999| 27.7|
|               Benin|2015| 76.3|
|              Bhutan|2017| 12.2|
|             Bolivia|2018| 10.5|
|Bosnia and Herzeg...|2011|  0.7|
|            Botswana|2015| 36.5|
|              Brazil|2018|  9.1|
|            Bulgaria|2017|  3.3|
|        Burkina Faso|2014| 76.7|
+--------------------+----+-----+
only showing top 20 rows

In [19]:
# checking null and mean value
df3.select([count(when(col(c).isNull(), c)).alias(c) for c in df3.columns]).show()
dm3.select([count(when(col(c).isNull(), c)).alias(c) for c in dm3.columns]).show()
mean_hdi = df3.select(mean(df3['HDI'])).collect()
mean_hdi_val = mean_hdi[0][0]
print(mean_hdi_val)

+-------+----+---+---+---+---+------+
|COUNTRY|DATE|HDI| TC| TD|POP|GDPCAP|
+-------+----+---+---+---+---+------+
|      0|   0| 28|  0|  0|  0|     0|
+-------+----+---+---+---+---+------+

+---------------+----+-----+
|Country or Area|Year|Value|
+---------------+----+-----+
|              0|   0|    0|
+---------------+----+-----+

0.7064175824175828

In [20]:
# replacing null
df4 = df3.na.fill('0.7064', subset=['HDI'])
df4.select([count(when(col(c).isNull(), c)).alias(c) for c in df4.columns]).show()
df5 = df4.drop("DATE")

+-------+----+---+---+---+---+------+
|COUNTRY|DATE|HDI| TC| TD|POP|GDPCAP|
+-------+----+---+---+---+---+------+
|      0|   0|  0|  0|  0|  0|     0|
+-------+----+---+---+---+---+------+

In [21]:
# data casting
df_cast = (df5.withColumn("HDI", df5["HDI"].cast("float")) \
       .withColumn("TC", df5["TC"].cast("float")) \
       .withColumn("TD", df5["TD"].cast("float")) \
       .withColumn("POP", df5["POP"].cast("float")) \
       .withColumn("GDPCAP", df5["GDPCAP"].cast("float")))
dm_cast = (dm3.withColumn("Year", dm3["Year"].cast(IntegerType())) \
           .withColumn("Value", dm3["Value"].cast("float")))
df_cast.printSchema()
dm_cast.printSchema()

root
 |-- COUNTRY: string (nullable = true)
 |-- HDI: float (nullable = true)
 |-- TC: float (nullable = true)
 |-- TD: float (nullable = true)
 |-- POP: float (nullable = true)
 |-- GDPCAP: float (nullable = true)

root
 |-- Country or Area: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Value: float (nullable = true)

In [22]:
# renaming
df6 = df_cast.withColumn("GDP", df_cast.GDPCAP*df_cast.POP)
df7 = (df6.withColumnRenamed('HDI','Human_Development_Index') \
       .withColumnRenamed('TC', 'Total_Case') \
       .withColumnRenamed('TD', 'Total_Death') \
       .withColumnRenamed('POP', 'Population') \
       .withColumnRenamed('GDPCAP', 'GDP/Capita'))
df7.show()
df7.printSchema()
dm4 = dm_cast.withColumnRenamed('Value','Poverty_Rate_(%)')

+-------------------+-----------------------+----------+-----------+----------+----------+----------+
|            COUNTRY|Human_Development_Index|Total_Case|Total_Death|Population|GDP/Capita|       GDP|
+-------------------+-----------------------+----------+-----------+----------+----------+----------+
|        Afghanistan|                  0.498|    9.9739|  5.9506426| 17.477234| 7.4977546| 131.04001|
|            Albania|                  0.785|  9.744199|  6.1114674| 14.872537|  9.376145| 139.44707|
|            Algeria|                  0.754|  9.996431|    6.96319|  17.59631|  9.540639| 167.88004|
|            Andorra|                  0.858|  8.124743|  4.0775375| 11.254996|       0.0|       0.0|
|             Angola|                  0.581|  8.917579|   5.484797| 17.307957|  8.668969| 150.04214|
|           Anguilla|                 0.7064| 1.0986123|        0.0|  9.615939|       0.0|       0.0|
|Antigua and Barbuda|                   0.78| 4.7791233|  1.0986123| 11.491988|  9.975387|114.637024|
|          Argentina|                  0.825|  9.999116|   6.473891| 17.626514|   9.84871| 173.59843|
|            Armenia|                  0.755|   9.98585|  5.9558372| 14.901792|  9.081095| 135.32458|
|              Aruba|                 0.7064|  8.371473|  3.5263605| 11.578395| 10.490545| 121.46368|
|          Australia|                  0.939|  9.985666|  5.8021183| 17.054184| 10.706581| 182.59201|
|            Austria|                  0.908|  9.999297|  6.5806394| 16.013447| 10.724075| 171.72942|
|         Azerbaijan|                  0.757|  9.994972|   5.613128| 16.131918|  9.670762| 156.00793|
|            Bahamas|                  0.807|  8.648747|   4.804021| 12.882195| 10.229832| 131.78268|
|            Bahrain|                  0.846|  9.988012|  4.1431346|  14.34707|10.6756935| 153.16492|
|         Bangladesh|                  0.608|   9.95204|   5.749393|  18.91957|  8.167348| 154.52272|
|           Barbados|                    0.8| 5.4026775|  1.9459101| 12.568529|  9.739677| 122.41342|
|            Belarus|                  0.808|  9.957076|  4.7957907| 16.061453|    9.7508| 156.61201|
|            Belgium|                  0.916|  9.983454|  7.6319165|  16.26562| 10.660984|  173.4075|
|             Belize|                  0.708| 7.9420066|  3.7841897| 12.893254|  8.964997| 115.58799|
+-------------------+-----------------------+----------+-----------+----------+----------+----------+
only showing top 20 rows

root
 |-- COUNTRY: string (nullable = true)
 |-- Human_Development_Index: float (nullable = true)
 |-- Total_Case: float (nullable = true)
 |-- Total_Death: float (nullable = true)
 |-- Population: float (nullable = true)
 |-- GDP/Capita: float (nullable = true)
 |-- GDP: float (nullable = true)

In [23]:
# Integrate various data sources
merged_data = df7.join(dm4,df7["COUNTRY"] == dm4["Country or Area"])
merged_data = merged_data.drop("Country or Area")
merged_data.show(truncate=8)
merged_data.count()

+--------+-----------------------+----------+-----------+----------+----------+--------+----+----------------+
| COUNTRY|Human_Development_Index|Total_Case|Total_Death|Population|GDP/Capita|     GDP|Year|Poverty_Rate_(%)|
+--------+-----------------------+----------+-----------+----------+----------+--------+----+----------------+
| Albania|                  0.785|  9.744199|   6.111...|  14.87...|  9.376145|139.4...|2017|             8.2|
| Algeria|                  0.754|  9.996431|    6.96319|  17.59631|  9.540639|167.8...|2011|             3.7|
|  Angola|                  0.581|  8.917579|   5.484797|  17.30...|  8.668969|150.0...|2018|            73.2|
|Argen...|                  0.825|  9.999116|   6.473891|  17.62...|   9.84871|173.5...|2018|             3.9|
| Armenia|                  0.755|   9.98585|   5.955...|  14.90...|  9.081095|135.3...|2018|             9.4|
|Austr...|                  0.939|  9.985666|   5.802...|  17.05...|  10.70...|182.5...|2014|             0.7|
| Austria|                  0.908|  9.999297|   6.580...|  16.01...|  10.72...|171.7...|2017|             0.4|
|Azerb...|                  0.757|  9.994972|   5.613128|  16.13...|  9.670762|156.0...|2005|             0.0|
|Bangl...|                  0.608|   9.95204|   5.749393|  18.91957|  8.167348|154.5...|2016|            52.5|
| Belarus|                  0.808|  9.957076|   4.795...|  16.06...|    9.7508|156.6...|2018|             0.0|
| Belgium|                  0.916|  9.983454|   7.631...|  16.26562|  10.66...|173.4075|2017|             0.2|
|  Belize|                  0.708|  7.942...|   3.784...|  12.89...|  8.964997|115.5...|1999|            27.7|
|   Benin|                  0.515|  7.822445|   3.713572|  16.31063|  7.632...|124.4...|2015|            76.3|
|  Bhutan|                  0.612|  5.789...|        0.0|  13.55...|  9.072066|122.9...|2017|            12.2|
| Bolivia|                  0.693|  9.975761|   6.546...|  16.27279|  8.837221|143.8...|2018|            10.5|
|Bosni...|                  0.768|  9.997024|   6.505784|  15.00...|  9.368531|140.5617|2011|             0.7|
|Botswana|                  0.717|  8.564459|   2.995...|  14.67...|  9.668232|141.8...|2015|            36.5|
|  Brazil|                  0.759|  9.939193|   7.024649|  19.17...|  9.554174|183.1...|2018|             9.1|
|Bulgaria|                  0.813|  9.992871|   6.749...|  15.75...|  9.828942|154.8...|2017|             3.3|
|Burki...|                  0.423|  7.775...|   4.174...|  16.85...|  7.440...|125.4...|2014|            76.7|
+--------+-----------------------+----------+-----------+----------+----------+--------+----+----------------+
only showing top 20 rows

143

In [24]:
# ordering merged dataset
merged_data1 = merged_data.orderBy(col("Poverty_Rate_(%)").desc())
merged_data1.show(truncate=8)

+--------+-----------------------+----------+-----------+----------+----------+--------+----+----------------+
| COUNTRY|Human_Development_Index|Total_Case|Total_Death|Population|GDP/Capita|     GDP|Year|Poverty_Rate_(%)|
+--------+-----------------------+----------+-----------+----------+----------+--------+----+----------------+
|Madag...|                  0.519|   9.72973|   5.472...|  17.13662|  7.255902|124.3...|2012|            90.9|
| Burundi|                  0.417|  6.295266|        0.0|  16.29...|  6.554254|106.7...|2013|            89.6|
|  Malawi|                  0.477|  8.675393|   5.198497|  16.76...|  6.998548|117.3...|2016|            89.6|
|Uzbek...|                   0.71|  9.976088|   4.804021|  17.32...|  8.740833|151.4...|2003|            86.2|
|Guine...|                  0.455|  7.778...|   3.713572|  14.49...|  7.345...|106.4...|2010|            85.4|
|Centr...|                  0.367|  8.487764|   4.127...|  15.39...|  6.494117|99.94646|2008|            82.9|
|Mozam...|                  0.437|  9.293394|   4.317488|  17.25...|  7.035...|121.4...|2014|            82.4|
|  Rwanda|                  0.524|   8.51198|   3.526...|  16.37...|  7.525...|123.2...|2016|            80.3|
|    Mali|                  0.427|  8.125335|   4.882802|  16.82...|   7.60803|127.9...|2009|            79.8|
|   Niger|                  0.354|  7.098376|   4.234...|  17.00...|  6.830...|116.1...|2014|            77.2|
|Tanzania|                  0.538|  6.232448|   3.044...|  17.90...|  7.894804|141.3...|2017|            76.8|
|Burki...|                  0.423|  7.775...|   4.174...|  16.85...|  7.440...|125.4...|2014|            76.7|
|   Benin|                  0.515|  7.822445|   3.713572|  16.31063|  7.632...|124.4...|2015|            76.3|
|Sierr...|                  0.419|  7.753...|   4.290...|  15.89...|  7.237...|115.0...|2018|            76.0|
| Liberia|                  0.435|  7.227...|   4.406719|  15.43...|  6.623...|102.2...|2016|            75.6|
|  Zambia|                  0.588|  9.671114|   5.846439|  16.72699|  8.213179|137.3...|2015|            75.4|
|    Togo|                  0.503|  7.629004|   3.931...|  15.92...|  7.265299|115.7...|2015|            74.2|
|  Angola|                  0.581|  8.917579|   5.484797|  17.30...|  8.668969|150.0...|2018|            73.2|
| Nigeria|                  0.532|  9.999706|   6.295266|  19.14...|  8.582691|164.3...|2018|            71.0|
|  Guinea|                  0.459|  9.351666|   4.248495|  16.39...|  7.600365|124.5...|2012|            70.9|
+--------+-----------------------+----------+-----------+----------+----------+--------+----+----------------+
only showing top 20 rows

In [25]:
panda = merged_data1.toPandas()
pearson_col = panda.corr('pearson')
pearson_col

,Human_Development_Index,Total_Case,Total_Death,Population,GDP/Capita,GDP,Year,Poverty_Rate_(%)
Human_Development_Index,1.000000,0.335720,0.275682,-0.039802,0.904708,0.694713,0.204135,-0.792687
Total_Case,0.335720,1.000000,0.843036,0.453416,0.368158,0.585251,0.160745,-0.322620
Total_Death,0.275682,0.843036,1.000000,0.513503,0.317518,0.591467,0.190197,-0.282964
Population,-0.039802,0.453416,0.513503,1.000000,-0.071808,0.605519,0.206683,0.134236
GDP/Capita,0.904708,0.368158,0.317518,-0.071808,1.000000,0.747305,0.208286,-0.860788
GDP,0.694713,0.585251,0.591467,0.605519,0.747305,1.000000,0.300350,-0.603658
Year,0.204135,0.160745,0.190197,0.206683,0.208286,0.300350,1.000000,-0.279900
Poverty_Rate_(%),-0.792687,-0.322620,-0.282964,0.134236,-0.860788,-0.603658,-0.279900,1.000000

In [26]:
dfm = merged_data1.drop("COUNTRY", "Year", "Population")
dfm.show()

+-----------------------+----------+-----------+----------+----------+----------------+
|Human_Development_Index|Total_Case|Total_Death|GDP/Capita|       GDP|Poverty_Rate_(%)|
+-----------------------+----------+-----------+----------+----------+----------------+
|                  0.519|   9.72973|  5.4722705|  7.255902| 124.34163|            90.9|
|                  0.417|  6.295266|        0.0|  6.554254|106.777145|            89.6|
|                  0.477|  8.675393|   5.198497|  6.998548| 117.34302|            89.6|
|                   0.71|  9.976088|   4.804021|  8.740833| 151.44487|            86.2|
|                  0.455| 7.7786303|   3.713572| 7.3451552| 106.44986|            85.4|
|                  0.367|  8.487764|  4.1271343|  6.494117|  99.94646|            82.9|
|                  0.437|  9.293394|   4.317488| 7.0353594| 121.41415|            82.4|
|                  0.524|   8.51198|  3.5263605| 7.5252147| 123.23877|            80.3|
|                  0.427|  8.125335|   4.882802|   7.60803|127.995255|            79.8|
|                  0.354|  7.098376|  4.2341065| 6.8308744| 116.13947|            77.2|
|                  0.538|  6.232448|  3.0445225|  7.894804| 141.35974|            76.8|
|                  0.423| 7.7752757|  4.1743875| 7.4402065| 125.40778|            76.7|
|                  0.515|  7.822445|   3.713572| 7.6325154| 124.49114|            76.3|
|                  0.419| 7.7536235|  4.2904596| 7.2372746| 115.01528|            76.0|
|                  0.435| 7.2276626|   4.406719| 6.6237836| 102.24749|            75.6|
|                  0.588|  9.671114|   5.846439|  8.213179| 137.38176|            75.4|
|                  0.503|  7.629004|  3.9318256|  7.265299| 115.73041|            74.2|
|                  0.581|  8.917579|   5.484797|  8.668969| 150.04214|            73.2|
|                  0.532|  9.999706|   6.295266|  8.582691| 164.30759|            71.0|
|                  0.459|  9.351666|   4.248495|  7.600365| 124.57472|            70.9|
+-----------------------+----------+-----------+----------+----------+----------------+
only showing top 20 rows

In [27]:
assembler = VectorAssembler(inputCols= dfm.columns, outputCol='features')
df_final = assembler.transform(dfm)

In [28]:
scaler = StandardScaler(inputCol='features', outputCol='scaledFeatures', withStd=True)
scaledModel = scaler.fit(df_final)
df_final = scaledModel.transform(df_final)
#df_final.show()

In [31]:
kmeans = KMeans(featuresCol='scaledFeatures', k=4)
model = kmeans.fit(df_final)
prediction = model.transform(df_final)


eval = Evaluator()
silihouette = eval.evaluate(prediction)

parsedData = dfm.map(lambda line: array([float(x) for x in line.split(' ')]))
clusters = KMeans.train(parsedData, 4, maxIterations=10, initializationMode="random")

df3.write.format("csv").option("header",True).mode("overwrite").save("./datasets/covid19_output.csv")

covid_output = spark.read.load("./datasets/covid19_output.csv", format="csv", header="true")
covid_output.show()